<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Site.Master.vb" Inherits="RRCFoundation.SiteMaster" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1>RRC Foundation</h1>
        </div>
        <asp:ContentPlaceHolder ID="MainContent" runat="server" />
    </form>
</body>
</html>
